/* Basic styling for the app */
/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust height as needed
} */
#file-list {
  float: left;
  width: 30%;
  padding: 10px;
}
#file-content {
  float: right;
  width: 70%;
  padding: 10px;
}
#button-container {
  float: left;
  /* align-self: flex-start; Or align-self: flex-end for bottom alignment */
}

  